<% include partials/header %>
<link rel="stylesheet" href="stylesheets/landing.css">
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <div class="content">
                <h1>Ontario Campgrounds</h1>
                <h3>Plan your next trip today</h3>
                <a href="/campgrounds" class="btn btn-default">Get Started!</a>
            </div>
        </div>
    </div>
</div>
<div id="footer" class="footer">
    <div class="container">
        <div class="text-center">
            Ontario Campgrounds™ 2017 - Created by Ammiel
        </div>
    </div>
</div>

<script src="scripts/background.js"></script>

<% include partials/footer %>